---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Artykuły" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">
{% assign m = post.date | date: "%-m" %}
{{ post.date | date: "%-d" }}
{% case m %}
  {% when '1' %}stycznia
  {% when '2' %}lutego
  {% when '3' %}marca
  {% when '4' %}kwietnia
  {% when '5' %}maja
  {% when '6' %}czerwca
  {% when '7' %}lipca
  {% when '8' %}sierpnia
  {% when '9' %}września
  {% when '10' %}października
  {% when '11' %}listopada
  {% when '12' %}grudnia
{% endcase %}

{{ post.date | date: "%Y" }}
	</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subskrybuj</a></p>
  {%- endif -%}

</div>
